apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
      containers:
        - name: user-service
          image: devops-challenge/user-service:latest
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: devops-challenge-config
                  key: PORT_USER_SERVICE
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: devops-challenge-config
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: devops-challenge-config
                  key: REDIS_PORT
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: devops-challenge-config
                  key: LOG_LEVEL
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: devops-challenge-config
                  key: NODE_ENV
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: devops-challenge-secrets
                  key: REDIS_PASSWORD
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health/live
              port: 3001
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
